.SingleDish {
    display: flex;
    
    border-color: white;
    border-style: solid;
    margin: 5px 0;
    position: relative;
    width: 400px;
    height: 200px;

}
    .SingleDish img {
        
        position: absolute;
        width: 100px;
        height: 95px;
        
    }
.SingleDishOpen {
    display: block;
    border: 1px solid;
}
.btn {
    padding: .5rem 1.5rem;
    font-size: .94rem;
    background-color: #29ade5;
    border: none;
    color: white;
}
img {
        width: 400px;
        height: 200px;
        position: relative;
    }
.price{
    color:  #29ade5;
}
.plusbtn {
    font-weight: bolder;
    border: none;
    background-color:white;
}